---
import Layout from "../layouts/Base.astro";

const moon = `
                                   ..                                    
                          .:--===+*++****++=-:.                         
                      .-===+++++*++**#**##*#%##+-:.                     
                  .:=++#*====+++++****++***+*+**#*+=-.                  
                :=***+=+===-+***+*+++********+*******++:                
             .-==++===---+*=***#**++===++*****######**#*+:              
            -=++=--=+***++###*****+-------+=+*+****######*+:            
          .:=--==+***********+++====-----:---+--==++=*#####*=.          
        .:===-=+++++++*+==+++=-*=-==-------=======+===*#####*+:         
       .-==--==++++*+*****+++--=-+----+--=-=++++++++****###**##:        
      .=-=-:--=+-=*=+**#**+==--::+--+:+=-==++++++==+*++*###***##:       
      ---=:::=+====+*+*#*+++---==-:-=--======++====-===+***##**#*.      
     :-:-----=*=:-++=+****===-*##*=+---=--==-+++=====+===******##=      
     --::-:--+=-:=+*+****+=++=+#####**+-::-=++=-=-=+++++==+***####.     
    :-:::-:--+-:-=+*+=+***++=+**########=::--=++--=++**===+=+#*+++-     
    .-:::::-=+---=++==+***+=-=**##**+*#*=::-:::==+**+**=++===+++=*+     
    :-:::::--=:--===-=+***=:::-=****+*+-----:::--=++++++===++-=+=++     
    .-:::::=----====-=+++*=--===#####+:+***+=:------:---===--=+*=++.    
    .=::::==-::--==-=+*+==+*+=+*####*-=+======++=----=-==--==+++-**     
     --::---:--===-==++---+#*=+*####--===---=++*+=---====+++==+++*-     
     :-:::=-:-======++--:-+**-=+***+------=+*++-=++-:-=+++=======-      
      -:::==:-===--=+=-----=++----=--=-:-:-++*==**+-:-=====-===++.      
      .:::-=:-====-=+-----=++*=-+===---:-=-:==++*+-----==--====+-       
       :==:=::=+===+=----=+++*+-====+---==:-+++==----==--====--=        
        -=--=:==::-==----=++==+==----::-:::----::---=======-:--         
         -=-=-==---===----=++====-:--:-:----:----=====-==--==-          
          .--==++=====++===----::--=-::-::::---=========-=+=:           
            :=+==+++====+++=---:-----:::-----===========+*-             
              :==-=++=---=++*+====================+==+++-.              
                .:===+++==-==+==-===+========+====+++=:                 
                   .::=+++===++==--==+++++====+++-::.                   
                       ..:-=++++*+=+++++==++=-::.                       
                              .::---::::::.`;
---

<Layout title="henry.dawdle.space">
  <main>
    <div>
      <p>Hi there!</p>
      <h1>henry.dawdle.space</h1>
    </div>
    <pre>{moon}</pre>
    <ul>
      <li><a href="/posts">/posts</a></li>
      <li><a href="/photos">/photos</a></li>
      <li><a href="/things">/things</a></li>
    </ul>
    <ul>
      <li>
        <a target="_blank" href="https://blog.henrygressmann.de">>blog</a>
      </li>
      <li><a target="_blank" href="https://henrygressmann.de">>website</a></li>
      <li>
        <a target="_blank" href="https://github.com/explodingcamera">>github</a>
      </li>
    </ul>
  </main>
</Layout>

<style>
  main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    pre {
      line-height: 1.2;
      white-space: pre-wrap;
      margin: 0;
      padding: 0;
      font-size: 1rem;
      font-size: clamp(0.1rem, 1.9vmin, 0.6rem);
      user-select: none;
      margin-bottom: 3rem;
      color: #c0f1ea;
    }

    > ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      gap: 2rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 30rem;
      margin-bottom: 0.8rem;

      li {
        font-size: 1rem;
        font-weight: 300;
        font-size: clamp(0.5rem, 4vmin, 1.4rem);
      }
    }

    a {
      color: #fbfbfbb5;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        color: #01f2dab5;
      }
    }

    h1 {
      font-size: 3rem;
      font-size: clamp(0.5rem, 6vmin, 2rem);
      margin: 0;
      padding: 0;
      margin-bottom: 3rem;
    }
  }
</style>
