html {
  color: #fff;
  background: #040909;
  font-family: "Victor Mono Variable", monospace;
}

a {
  color: #b7b7b7;
  text-decoration: underline;
  text-decoration-style: dotted;

  &:hover,
  &[data-active] {
    color: #fff;
  }

  &[data-active] {
    text-decoration: none;
  }
}
