html {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #939b9a #080f14;
  color: #fff;
  margin: 0;
  padding: 0;
  height: 100vh;
  height: 100dvh;
  box-sizing: border-box;
  display: flex;

  background: #040909;
}

* {
  font-family: "Victor Mono Variable", monospace;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex: 1;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  color: #b7b7b7;
  text-decoration: underline;
  text-decoration-style: dotted;

  &:hover,
  &[data-active] {
    color: #fff;
  }

  &[data-active] {
    text-decoration: none;
  }
}
