---
import "@fontsource-variable/victor-mono";
import "@explodingcamera/css/all.css";
import "./../global.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="en" transition:animate="none">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="data:," />
    <title>{title}</title>
    <slot name="head" />
  </head>
  <body>
    <slot />
    <a class="dawdle" target="_blank" href="https://dawdle.space"
      >hosted on dawdle.space</a
    >
    <a
      class="imprint"
      target="_blank"
      href="https://henrygressmann.de/impressum">imprint</a
    >
    <style>
      .imprint {
        position: fixed;
        bottom: 0;
        right: 0;
        padding: 1rem 1.2rem;
        font-size: 0.9rem;
        color: #a3a3a3;
        text-decoration: none;
      }

      .dawdle {
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 1rem 1.2rem;
        font-size: 0.9rem;
        color: #a3a3a3;
        text-decoration: none;
      }
    </style>
  </body>
</html>
