---
import Base from "../layouts/Base.astro";
interface Props {
  title: string;
  maxWidth?: string;
}
const props = Astro.props;
const url = new URL(Astro.request.url);
---

<Base {...props}>
  <slot name="head" slot="head" />
  <header>
    <ul>
      <li><a href="/"><h2>henry.dawdle.space</h2></a></li>
      <li>
        <a href="/posts" data-active={url.pathname === "/posts"}>posts</a>
      </li>
      <li>
        <a href="/photos" data-active={url.pathname === "/photos"}>photos</a>
      </li>
      <li>
        <a href="/things" data-active={url.pathname === "/things"}>things</a>
      </li>
    </ul>
  </header>
  <slot />
</Base>

<style>
  header {
    ul {
      display: flex;
      list-style: none;
      gap: 1rem;
      margin: 0;
      padding: 0;
      padding: 1rem 1.5rem;

      li:first-of-type {
        margin-right: auto;

        a {
          text-decoration: none;
        }

        @media (max-width: 600px) {
          h2 {
            font-size: 1rem;
          }
        }
      }

      h2 {
        font-size: 1.2rem;
        font-weight: 400;
      }
    }
  }
</style>
