---
import Base from "../layouts/Base.astro";
interface Props {
  title: string;
  maxWidth?: string;
  floatingHeader?: boolean;
}
const props = Astro.props;
const url = new URL(Astro.request.url);
---

<Base {...props}>
  <slot name="head" slot="head" />
  <header data-floating={props.floatingHeader && "true"}>
    <ul>
      <li class="title"><a href="/"><h2>henry.dawdle.space</h2></a></li>
      <li class="title-mobile"><a href="/"><h2>home</h2></a></li>
      <li>
        <a href="/posts" data-active={url.pathname === "/posts"}>posts</a>
      </li>
      <li>
        <a href="/photos" data-active={url.pathname === "/photos"}>photos</a>
      </li>
      <li>
        <a href="/things" data-active={url.pathname === "/things"}>things</a>
      </li>
    </ul>
  </header>
  <slot />
</Base>

<style>
  header[data-floating="true"] {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }

  .title-mobile {
    display: none;
  }

  @media (max-width: 450px) {
    .title {
      display: none;
    }
    .title-mobile {
      display: block;
    }
  }

  header {
    ul {
      display: flex;
      list-style: none;
      gap: 1rem;
      margin: 0;
      padding: 1.5rem 1.5rem;

      li.title,
      li.title-mobile {
        margin-right: auto;

        a {
          text-decoration: none;
        }

        @media (max-width: 600px) {
          h2 {
            font-size: 1rem;
          }
        }
      }

      h2 {
        font-size: 1.2rem;
        font-weight: 400;
      }
    }
  }
</style>
